docker/nodered/flows.json
[{"id":"614d86ae.745558","type":"tab","label":"SenseHAT - ORION","disabled":false,"info":""},{"id":"efb031c7.26fda","type":"tab","label":"Recepción de Alarmas","disabled":false,"info":""},{"id":"d440b78c.059cb8","type":"websocket-listener","z":"","path":"/api/alarm","wholemsg":"false"},{"id":"64fe879a.f0e7c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58ac495f.4c5228","type":"ui_tab","z":"","name":"Dashboard - Datalab IoT","icon":"dashboard","order":1},{"id":"233ec7c0.6acad8","type":"ui_group","z":"","name":"Group 1","tab":"58ac495f.4c5228","order":1,"disp":false,"width":"6","collapse":false},{"id":"62035bbb.3a7284","type":"ui_group","z":"","name":"Group 2","tab":"58ac495f.4c5228","order":2,"disp":false,"width":"6","collapse":false},{"id":"34ccc2fa.7b13be","type":"ui_group","z":"","name":"Group 3","tab":"58ac495f.4c5228","order":3,"disp":false,"width":"6","collapse":false},{"id":"5e389d8b.865524","type":"debug","z":"614d86ae.745558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":180,"wires":[]},{"id":"abac48e.ac751b8","type":"debug","z":"614d86ae.745558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":280,"wires":[]},{"id":"5ee4c2d2.9a818c","type":"function","z":"614d86ae.745558","name":"save ORION","func":"var data = msg.payload;\n\nmsg.payload = {\n    \"actionType\": \"UPDATE\",\n\t\"entities\": [{\n    \t\"id\": \"sensehat.simu.1\",\n        \"type\": \"sensehat.simu\",\n        \"temperature\":\n        {\n            \"value\": parseFloat(data.temperature),\n            \"type\": \"float\"\n        },\n        \"humidity\":\n        {\n            \"value\": parseFloat(data.humidity),\n            \"type\": \"float\"\n        },\n        \"pressure\":\n        {\n            \"value\": parseFloat(data.pressure),\n            \"type\": \"float\"\n        },\n        \"timestamp\": \n        {\n            \"value\": Date.now().toString(),\n            \"type\": \"string\"\n        }\n\t}]\n}\nmsg.headers = {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"Fiware-Service\": \"service\",\n    \"Fiware-ServicePath\": \"/subservice\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["4e12a846.adbba8"]]},{"id":"4e12a846.adbba8","type":"http request","z":"614d86ae.745558","name":"/entities","method":"POST","ret":"txt","url":"http://orion:1026/v2/op/update","tls":"","x":460,"y":280,"wires":[["abac48e.ac751b8"]]},{"id":"e0afaf43.d25fd","type":"ui_gauge","z":"614d86ae.745558","name":"","group":"233ec7c0.6acad8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºc","format":"{{msg.payload.temperature}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":60,"wires":[]},{"id":"7b6a5517.ccd73c","type":"ui_gauge","z":"614d86ae.745558","name":"","group":"62035bbb.3a7284","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":100,"wires":[]},{"id":"246f68d3.fbd308","type":"ui_gauge","z":"614d86ae.745558","name":"","group":"34ccc2fa.7b13be","order":0,"width":0,"height":0,"gtype":"gage","title":"Presión","label":"","format":"{{msg.payload.pressure}}","min":"1000","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":140,"wires":[]},{"id":"5f068ebf.fee6b","type":"http in","z":"efb031c7.26fda","name":"http /api/alarm","url":"/api/alarm","method":"post","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["1e2d6d0d.dbfa53","200c666a.10a32a","987c7157.95f12"]]},{"id":"1e2d6d0d.dbfa53","type":"debug","z":"efb031c7.26fda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":160,"wires":[]},{"id":"200c666a.10a32a","type":"http response","z":"efb031c7.26fda","name":"response","statusCode":"","headers":{},"x":340,"y":280,"wires":[]},{"id":"b72891ea.e524a","type":"comment","z":"efb031c7.26fda","name":"Recepción de alarmas que llegan desde el CEP vía URL","info":"","x":260,"y":80,"wires":[]},{"id":"987c7157.95f12","type":"ui_text","z":"efb031c7.26fda","group":"233ec7c0.6acad8","order":0,"width":0,"height":0,"name":"Alarma","label":"ÚLTIMA ALARMA DE TEMPERATURA","format":"{{msg.payload.temperature}}","layout":"col-center","x":330,"y":220,"wires":[]},{"id":"c6b431f.3cc3dd","type":"function","z":"614d86ae.745558","name":"random","func":"function getRandom(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\nmsg.payload = {\n    temperature: getRandom(12, 40).toFixed(2),\n    humidity: getRandom(70, 90).toFixed(2),\n    pressure: getRandom(1000, 1024).toFixed(0)\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["e0afaf43.d25fd","7b6a5517.ccd73c","246f68d3.fbd308","5e389d8b.865524","5ee4c2d2.9a818c"]]},{"id":"4ec5b631.cbf7e8","type":"inject","z":"614d86ae.745558","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["c6b431f.3cc3dd"]]}]