docker/nodered/flows.json
[{"id":"d1760fba.38e5","type":"tab","label":"Earthquake streaming","disabled":false,"info":""},{"id":"614d86ae.745558","type":"tab","label":"Sensor - ORION","disabled":false,"info":""},{"id":"efb031c7.26fda","type":"tab","label":"Recepción de Alarmas","disabled":false,"info":""},{"id":"605d1c5.fc21ae4","type":"tab","label":"GET influxDB","disabled":false,"info":""},{"id":"d440b78c.059cb8","type":"websocket-listener","z":"","path":"/api/alarm","wholemsg":"false"},{"id":"64fe879a.f0e7c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0},"lockMenu":"false"}},{"id":"58ac495f.4c5228","type":"ui_tab","z":"","name":"Tiempo real","icon":"dashboard","order":1},{"id":"233ec7c0.6acad8","type":"ui_group","z":"","name":"Group 1","tab":"58ac495f.4c5228","order":1,"disp":false,"width":"6","collapse":false},{"id":"62035bbb.3a7284","type":"ui_group","z":"","name":"Group 2","tab":"58ac495f.4c5228","order":2,"disp":false,"width":"6","collapse":false},{"id":"34ccc2fa.7b13be","type":"ui_group","z":"","name":"Group 3","tab":"58ac495f.4c5228","order":3,"disp":false,"width":"6","collapse":false},{"id":"89e1e20a.58dcd","type":"websocket-client","z":"","path":"wss://www.bitmex.com/realtime","tls":"","wholemsg":"false"},{"id":"7c235a5e.692e34","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"masterUC","name":"","usetls":false,"tls":""},{"id":"d8e2722a.66b01","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5f4c5a6.9e9678","type":"websocket-client","z":"","path":"wss://www.bitmex.com/realtime","tls":"","wholemsg":"false"},{"id":"fc0301bc.d9c81","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"masterUC","name":"","usetls":false,"tls":""},{"id":"359a23f3.67326c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac218302.f457d","type":"ui_group","z":"","name":"Group 4","tab":"58ac495f.4c5228","order":5,"disp":false,"width":"18","collapse":false},{"id":"c7a04d08.32c43","type":"ui_group","z":"","name":"Group 5","tab":"58ac495f.4c5228","order":4,"disp":false,"width":"18","collapse":false},{"id":"5c9ea4ff.f52dbc","type":"ui_link","z":"","name":"Mapa","link":"/worldmap","icon":"open_in_browser","target":"iframe","order":2},{"id":"5e389d8b.865524","type":"debug","z":"614d86ae.745558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":180,"wires":[]},{"id":"abac48e.ac751b8","type":"debug","z":"614d86ae.745558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":280,"wires":[]},{"id":"5ee4c2d2.9a818c","type":"function","z":"614d86ae.745558","name":"save ORION","func":"var data = msg.payload;\n\nmsg.payload = {\n    \"actionType\": \"UPDATE\",\n\t\"entities\": [{\n    \t\"id\": \"sensehat.simu.1\",\n        \"type\": \"sensehat.simu\",\n        \"temperature\":\n        {\n            \"value\": parseFloat(data.temperature),\n            \"type\": \"float\"\n        },\n        \"humidity\":\n        {\n            \"value\": parseFloat(data.humidity),\n            \"type\": \"float\"\n        },\n        \"pressure\":\n        {\n            \"value\": parseFloat(data.pressure),\n            \"type\": \"float\"\n        },\n        \"timestamp\": \n        {\n            \"value\": Date.now().toString(),\n            \"type\": \"string\"\n        }\n\t}]\n}\nmsg.headers = {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"Fiware-Service\": \"service\",\n    \"Fiware-ServicePath\": \"/subservice\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["4e12a846.adbba8"]]},{"id":"4e12a846.adbba8","type":"http request","z":"614d86ae.745558","name":"/entities","method":"POST","ret":"txt","url":"http://orion:1026/v2/op/update","tls":"","x":460,"y":280,"wires":[["abac48e.ac751b8"]]},{"id":"e0afaf43.d25fd","type":"ui_gauge","z":"614d86ae.745558","name":"","group":"233ec7c0.6acad8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºc","format":"{{msg.payload.temperature}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":60,"wires":[]},{"id":"7b6a5517.ccd73c","type":"ui_gauge","z":"614d86ae.745558","name":"","group":"62035bbb.3a7284","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":100,"wires":[]},{"id":"246f68d3.fbd308","type":"ui_gauge","z":"614d86ae.745558","name":"","group":"34ccc2fa.7b13be","order":0,"width":0,"height":0,"gtype":"gage","title":"Presión","label":"","format":"{{msg.payload.pressure}}","min":"1000","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":140,"wires":[]},{"id":"5f068ebf.fee6b","type":"http in","z":"efb031c7.26fda","name":"http /api/alarm","url":"/api/alarm","method":"post","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["1e2d6d0d.dbfa53","200c666a.10a32a","987c7157.95f12","314bb34e.13e2ac"]]},{"id":"1e2d6d0d.dbfa53","type":"debug","z":"efb031c7.26fda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":160,"wires":[]},{"id":"200c666a.10a32a","type":"http response","z":"efb031c7.26fda","name":"response","statusCode":"","headers":{},"x":320,"y":340,"wires":[]},{"id":"b72891ea.e524a","type":"comment","z":"efb031c7.26fda","name":"Recepción de alarmas que llegan desde el CEP vía URL","info":"","x":220,"y":80,"wires":[]},{"id":"987c7157.95f12","type":"ui_text","z":"efb031c7.26fda","group":"c7a04d08.32c43","order":1,"width":0,"height":0,"name":"Alarma","label":"","format":"ÚLTIMA ALARMA DE TEMPERATURA: {{msg.payload.temperature}}","layout":"col-center","x":310,"y":220,"wires":[]},{"id":"c6b431f.3cc3dd","type":"function","z":"614d86ae.745558","name":"random","func":"function getRandom(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\nmsg.payload = {\n    temperature: getRandom(12, 40).toFixed(2),\n    humidity: getRandom(70, 90).toFixed(2),\n    pressure: getRandom(1000, 1024).toFixed(0)\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["e0afaf43.d25fd","7b6a5517.ccd73c","246f68d3.fbd308","5e389d8b.865524","5ee4c2d2.9a818c"]]},{"id":"4ec5b631.cbf7e8","type":"inject","z":"614d86ae.745558","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["c6b431f.3cc3dd"]]},{"id":"314bb34e.13e2ac","type":"function","z":"efb031c7.26fda","name":"save historical alarm","func":"var value = msg.payload;\n\nvar msg = {\n    payload: [{\n        measurement: \"alarm\",\n        fields: {\n            temperature: value.temperature,\n            humidity: value.humidity,\n            pressure: value.pressure,\n            id: value.id\n        },\n        timestamp: new Date()\n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["320b9191.f4e45e","a5fefc7c.30c2d"]]},{"id":"320b9191.f4e45e","type":"debug","z":"efb031c7.26fda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"a5fefc7c.30c2d","type":"influxdb batch","z":"efb031c7.26fda","influxdb":"7c235a5e.692e34","precision":"","retentionPolicy":"","name":"alarm","x":550,"y":280,"wires":[]},{"id":"7fd38caf.eb9ac4","type":"influxdb in","z":"605d1c5.fc21ae4","influxdb":"7c235a5e.692e34","name":"alarms","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":140,"wires":[["8f6e4c3c.94601","267dfbb8.fe3d94"]]},{"id":"f5fac74d.bfbe98","type":"ui_chart","z":"605d1c5.fc21ae4","name":"","group":"ac218302.f457d","order":0,"width":"0","height":"0","label":"Histórico de alarmas","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#b42217","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":220,"wires":[["88c7c342.40a6d"]]},{"id":"42564c24.e8cac4","type":"inject","z":"605d1c5.fc21ae4","name":"","topic":"get","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["1493e6b2.583699"]]},{"id":"1493e6b2.583699","type":"function","z":"605d1c5.fc21ae4","name":"get Alarms","func":"msg.query= \"select * from alarm;\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["7fd38caf.eb9ac4"]]},{"id":"8f6e4c3c.94601","type":"debug","z":"605d1c5.fc21ae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":80,"wires":[]},{"id":"267dfbb8.fe3d94","type":"function","z":"605d1c5.fc21ae4","name":"draw chart","func":"var serie = [{\n    series: [\"Alarma\"],\n    data: [],\n    labels: [\"\"]\n}];\n\nfor(var index in msg.payload){\n    node.log(msg.payload[index]);\n    var x = new Date(msg.payload[index].time).getTime();\n    var y = parseFloat(msg.payload[index].temperature);\n    if (x && y) {\n        serie[0].data.push([{\n            y: parseFloat(msg.payload[index].temperature), \n            x: new Date(msg.payload[index].time).getTime()\n        }]);\n    }\n}\nmsg.payload = serie;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["f5fac74d.bfbe98"]]},{"id":"88c7c342.40a6d","type":"debug","z":"605d1c5.fc21ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":220,"wires":[]},{"id":"ab1fb478.b218f8","type":"inject","z":"605d1c5.fc21ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["88485134.53293"]]},{"id":"88485134.53293","type":"influxdb in","z":"605d1c5.fc21ae4","influxdb":"7c235a5e.692e34","name":"DELETE InfluxDB","query":"drop series from \"alarm\"","rawOutput":false,"precision":"","retentionPolicy":"","x":330,"y":360,"wires":[["4b05ee63.ddbc3"]]},{"id":"4b05ee63.ddbc3","type":"debug","z":"605d1c5.fc21ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"4a53bd2a.98ed34","type":"worldmap","z":"d1760fba.38e5","name":"","lat":"0","lon":"0","zoom":"3","layer":"Esri Satellite","cluster":"","maxage":"","hiderightclick":"false","coords":"none","path":"","x":910,"y":260,"wires":[]},{"id":"db8f9b70.42c7c8","type":"function","z":"d1760fba.38e5","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nif (msg.payload.mag > 5) {\n    msg.payload.iconColor = \"red\";\n} else if (msg.payload.mag > 2 && msg.payload.mag < 5) {\n    msg.payload.iconColor = \"orange\";    \n} else if (msg.payload.mag > 1 && msg.payload.mag < 2) {\n    msg.payload.iconColor = \"yellow\";\n} else {\n    msg.payload.iconColor = \"green\";\n}\n\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["4a53bd2a.98ed34"]]},{"id":"db22ee1.a74811","type":"csv","z":"d1760fba.38e5","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":370,"y":260,"wires":[["db8f9b70.42c7c8"]]},{"id":"4d7f093a.b3f768","type":"http request","z":"d1760fba.38e5","name":"","method":"GET","paytoqs":false,"url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.csv","tls":"","proxy":"","x":350,"y":160,"wires":[["db22ee1.a74811"]]},{"id":"11a2f103.0ee63f","type":"inject","z":"d1760fba.38e5","name":"Quakes","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":false,"x":160,"y":160,"wires":[["4d7f093a.b3f768"]]}]